/*
Owner: Stephanie Scott
Description: CSS for the Contact Us page
File Name: contact.html 
*/



@media (min-width: 1240px) {
#contactUsSection{
  width: 60%; float: left;
}
}
@media (min-width: 100px) and (max-width: 1240px) {
  #contactUsSection{
    width: 95%!important;
  }
  #ourHours{
    width: 95%!important;
  }
}
#contactUsBody {
  margin: 20px auto;
  width: 80%;
}
#contactUs section{
  float: left;
  padding: 20px;
}
#ourHours{
  width: 30%; 
  float: left; 
}

#ourHours table{
  width: 250px;
  text-align: left;
  margin: 20px auto;
}
#ourHours caption{
  font-weight: bold;
  text-transform: uppercase;
}
.contactUsForm{
  box-shadow: 10px 5px 5px grey;
  background-color: white;
  margin: 0 auto;
}
#contactAddress{
  list-style: none;
  text-align: center;
}
.contactUsHeader{
  background: #d4008e;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.25vw;
  text-align: center;
}

.contactUsHeader h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1vw;
}

.contactUsBody {
  background: white;
  padding: 20px 40px;
  height: 100%;
}
input[type="text"], input[type="tel"], input[type="email"],textarea{
  font-size: 16px;
  line-height: 2;
  border: none;
  border-bottom: 1px solid #d4008e;
  background-color: #ececec;
  margin-bottom: 10px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select{
  font-size: 16px;
  line-height: 2;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d4008e;
  background-color: #ececec;
  height: 30px;
}
label{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 20px;
}

#ourHours tr >td:first-child{
  padding-right: 10px;
}
.formRadios label{
  font-weight: normal;
}
.formRadios{
  margin: 0px 0px 10px 20px;
}

