/*
Owner: Stephanie Scott
Description: CSS for the Events page
File Name: events.html 
*/
@media screen and (min-width: 1260px) {
  #events{
    grid-template-columns: repeat(4, 24%);
  }
}
@media (max-width: 1259px) and (min-width: 920px) {
  #events{
    grid-template-columns: repeat(3, 32%);
  }
}
@media only screen and (max-device-width: 650px) {
  #events{
    grid-template-columns: repeat(2, 47%);
  }
}
@media only screen and (max-device-width: 480px) {
  #events{
    grid-template-columns: repeat(1, 95%);
  }
}
#events{
  display: grid;
  padding: 20px;
  justify-content: center;
  gap: 10px;
}
.eventCard{
  border-top: 10px #d4008e solid;
  margin: 10px;
  float: left;
  box-shadow: 10px 5px 5px grey;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.eventCardTitle{
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.eventInformation{
  padding: 10px 20px;
  text-align: left;
  flex-grow: 4;
}
.eventCardFooter{
  padding: 10px 20px;
  background-color: #ebebeb;
  text-align: center;
}
.eventTable th{
  padding-right: 10px;
}
.eventTable tr{
  vertical-align: top;
  line-height: 1.5;
}
tr{
  margin-bottom: 20px;

}
.eventTable .details{
  padding-top: 20px;
  text-align: center;
}