/*
Owner: Stephanie Scott
Description: Main CSS page including Home page
File Name: index.html 
*/
@import "shared.css";
@import "contact.css";
@import "ourBikes.css";
@import "events.css";

* {
  margin: 0;
  padding: 0;
  }

@media (min-width: 1024px) {
  #productsAndServices{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 50px;
    background-color: #f0d3e3;
    padding: 50px 30px;
    justify-content: center;
  }
}

@media (min-width: 100px) and (max-width: 1024px) {
  #productsAndServices{
    display: grid;
    grid-template-columns: repeat(1, 95%);
    justify-content: center; 
    text-align: center;   
    gap: 0px;
    padding: 50px 30px;
  }
  .cardTitle{
    width: 500px;
    font-size: 36px!important;
  }
  .imgWrapper{
    height: 300px;
    width: 500px;
  }
  #aboutUsSection{
    display: flex;
    flex-direction: column;
  }
  #aboutUsSection p{
    text-align: center!important;
    border: none !important;
    padding-bottom: 20px;
    width: 100%!important;
    padding: 20px;
  }
  #aboutUsSection h1{
    width: 100%!important;
    text-align: center!important;
  }
}

#productsAndServices a{
  justify-self: center;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin:0;
  padding:0;
  display: block;
}

.card{
  margin: 10px;
  float: left;
  box-shadow: 10px 5px 5px grey;
  position: relative;
  text-align: center;
}
.card:hover{
  border: none;
  transform: scale(1.05);
}

.cardTitle{
  background-color: rgba(	212, 0, 142, .7);
  color: white;
  border: none;
  padding: 10px 0px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#aboutUsSection{
  background-color: #161616;
  color: white;
  text-align: center;
  display: flex; 
  justify-content: center; 
  padding: 0px; 
  align-items: center;
}
#aboutUsSection h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  margin:0px; 
  padding: 40px 0px;
  font-size: 48px; 
  text-align: right;
  width: 20%; 
  text-align: right; 
  padding-right: 20px;
}
#aboutUsSection p{
    font-size: 24px;
    line-height: 1.75;
    margin:0px;
    width: 75%; 
    text-align: left; 
    border-left: solid 1px white; 
    padding-left: 20px;
  }
#selfieImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin:0;
  padding:0;
  display: block;
}

